name: Render and Publish Quarto Book

on:
  push:
    branches: [ main ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
      
      - name: Set up R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2

      # --- NOVO: Configuração do Python ---
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' # Versão estável recomendada

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy seaborn matplotlib scikit-learn
      # ------------------------------------

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Render and Publish to GitHub Pages
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # ESTA LINHA ABAIXO É A CHAVE:
          RETICULATE_PYTHON: /opt/hostedtoolcache/Python/3.10.14/x64/bin/python